<%- include('../partials/navbar'); %>

<div id="error-page" class="container">
    <p>Sorry, there was an error with your request ! :(</p>
    <a href="/">-> Go back to home page <-</a>
</div>



<%- include('../partials/footer'); %>